.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.fields {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
}

.field {
    display: flex;
    gap: 10px;
}