.app {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: #F6F7F8;
}

.divider {
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid black;
}

.header {
  background-color: #004B7A;
  width: 100%;
  color: white;
  padding: 20px;
  margin: 0;
  font-size: 20px;
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, .25)
}